//$font-size-heading: 90px;
$default-font-size: 17px;
$default-font: 'Raleway', 'Arial', sans-serif;
$color-white: #fff;
$color-black: #000;
$color-orange: #ff6033;
$color-blue: #5585a2;
$color-blue-light: #70bfff;
$color-green: #96b92c;
$color-red: #f72b3b;
$color-aqua: #00c4c4;
$color-grey: #262626;
$color-yellow: #ffe92f;
$color-purple: #b07cf7;
