
$color-about: #00b0b0;


//$font-size-heading: 90px;

$default-font-size: 17px;

$color-white: #fff;
$color-black: #000;

$color-orange: #ff6033;
$color-blue: #5585a2;
$color-green: #96b92c;
$color-red: #f72b3b;